stylef.css .container {
    display: flex;
    flex-direction: column;

}

.container div {
    border-radius: 10px;
    position: relative;
    padding: 70px;
    margin: 25px;
    margin-left: 170px;
    margin-right: 170px;
    border: 4px solid rgba(233, 224, 224, 0.932);
    background-color: #ffffff;
    opacity: 0.75;
}

h2 {
    position: absolute;
    top: -15px;
    left: 5px;
    word-wrap: break-word;
    color: black
}

p {
    position: absolute;
    top: 30px;
    left: 5px;
    word-wrap: break-word;
    color: black;
}

.box-1 {
    flex: 3;
    order: 2;

}

.box-2 {
    flex: 1;
}

.box {
    flex: 1;
}